<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DirectoryListing</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DirectoryListing</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoaderServlet</servlet-name>
        <servlet-class>org.apache.tomee.loader.LoaderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    
    <security-constraint>
        <display-name>HTTPSOrHTTP</display-name>
        <web-resource-collection>
            <web-resource-name>HTTPSOrHTTP</web-resource-name>
            <url-pattern>/*</url-pattern>
            <url-pattern>/public/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>HTTPSOnly</display-name>
        <web-resource-collection>
            <web-resource-name>HTTPSOnly</web-resource-name>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>0</role-name>
            <role-name>1</role-name>
            <role-name>2</role-name>
            <role-name>3</role-name>
            <role-name>4</role-name>
            <role-name>5</role-name>
            <role-name>6</role-name>
            <role-name>7</role-name>
            <role-name>8</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>securityConstraint8</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>securityConstraint7</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>7</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>securityConstraint6</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>6</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>securityConstraint5</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>5</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>securityConstraint4</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>4</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>securityConstraint3</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>3</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>securityConstraint2</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>securityConstraint1</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>securityConstraint0</display-name>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <description/>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>0</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-role>
        <description>Invitado</description>
        <role-name>8</role-name>
    </security-role>
    <security-role>
        <description>Edicion</description>
        <role-name>7</role-name>
    </security-role>
    <security-role>
        <description>Auditoría</description>
        <role-name>6</role-name>
    </security-role>
    <security-role>
        <description>Catálogos</description>
        <role-name>5</role-name>
    </security-role>
    <security-role>
        <description>Planta</description>
        <role-name>4</role-name>
    </security-role>
    <security-role>
        <description>Categorías</description>
        <role-name>3</role-name>
    </security-role>
    <security-role>
        <description>Convierte</description>
        <role-name>2</role-name>
    </security-role>
    <security-role>
        <description>RH</description>
        <role-name>1</role-name>
    </security-role>
    <security-role>
        <description>Root</description>
        <role-name>0</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>FileSystem-jaas</realm-name>
    </login-config>
</web-app>
